/**
* @name 样式变量配置
* @description
* @author gongjf
* @since 2019年6月24日 14:46:38
*/

$color-theme: #46b794;
$color-theme-alpha: rgba(70, 183, 148, .8);
$color-theme-hover: #35a683;
$color-theme-active: #138461;

$color-white: #ffffff;
$color-white-alpha: rgba(255, 255, 255, .8);
$color-white-hover: #eeeeee;
$color-white-active: #dedede;

$color-opacity: rgba(0, 0, 0, 0);
$color-opacity-hover: rgba(0, 0, 0, 0.1);
$color-opacity-active: rgba(0, 0, 0, 0.3);

$color-text-white: #ffffff;
$color-text-gray: #dedede;
$color-text-darkgray: #cccccc;
$color-text-dark: #818181;
$color-text-black: #383838;
